<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--
        * @bainloko
        * TDSI, PROGRAMAÇÃO III
        * 25/03/2021
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add.ejs</title>
</head>
<body>
    <h1>Cadastro de livros</h1>
    <form action="" method="POST">
        <label>Livro:&nbsp;</label><input type="text" name="txtNomeLivro" id="txtNomeLivro" required><br>
        <label>Autor(es):&nbsp;</label><input type="text" name="txtAutor" id="txtAutor" required><br>
        <label>Ano da publicação:&nbsp;</label><input type="number" step="1" min="1" name="txtAnoPubli" id="txtAnoPubli" required><br>
        <label>Editora:&nbsp;</label><input type="text" name="txtEditora" id="txtEditora" required><br>
        <label>E-mail para contato:&nbsp;</label><input type="email" name="txtEmail" id="txtEmail"><br>
        <label>Quantidade no estoque:&nbsp;</label><input type="number" step="1" min="1" name="numQuantidade" required><br>
        <input type="submit" value="Enviar"/>
    </form>
</body>
</html>