<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--
        * KAUA MAIA COUSILLAS
        * TDSI, PROGRAMAÇÃO III
        * 11/03/2021
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário...</title>
</head>
<body>
    <form action="" method="POST">
        <label for="fname">Nome:</label>
        <input type="text" name="fname" id="fname"><br><br>
        <label for="fname">Sobrenome:</label>
        <input type="text" name="lname" id="lname"><br><br>
        <input type="submit" value="Enviar"/>
    </form>
</body>
</html>